---
title: Books Brook · Pricing
---

<main>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Pricing</h1>
        <p class="fs-5 text-muted pt-4">we really want to make things simple for you</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-warning">
                <div class="card-header py-3 border-warning">
                    <h4 class="my-0 fw-normal">1 graphic novel per month</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">8€<small class="text-muted fw-light">/mo</small> <span class="asterisk fs-3">*</span></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Just testing the service</li>
                    </ul>
                    <a class="w-100 btn btn-lg btn-warning" href="./subscribe.html">Promotion</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-warning">
                <div class="card-header py-3 border-warning">
                    <h4 class="my-0 fw-normal">2 graphic novels per month</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">12€<small class="text-muted fw-light">/mo</small> <span class="asterisk fs-3">*</span></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Most selected option</li>
                    </ul>
                    <a class="w-100 btn btn-lg btn-warning" href="./subscribe.html">Promotion</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-warning">
                <div class="card-header py-3 border-warning">
                    <h4 class="my-0 fw-normal">3 graphic novels per month</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">16€<small class="text-muted fw-light">/mo</small> <span class="asterisk fs-3">*</span></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>For the eager readers</li>
                    </ul>
                    <a class="w-100 btn btn-lg btn-warning" href="./subscribe.html">Promotion</a>
                </div>
            </div>
        </div>
    </div>

    <p> <span class="asterisk">*</span> you can cancel any time! &middot; Do you have any <a href="./faq.html">Question?</a></p>
</main>
