@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
body {
    font-family: 'Gloria Hallelujah', cursive;
}

.highlighted {
    background-color: aliceblue;
}

strong {
    background-color: antiquewhite;
}

.btn-xl {
    padding: 0.5rem 2rem;
    font-size: 4.25rem;
}

.container {
    max-width: 640px;
}

.asterisk {
    margin-left: -.6em;
    vertical-align: top;
}