---
title: Books Brook · FAQ
---

<main class="text-center">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Questions and answers</h1>
        <p class="fs-5 text-muted pt-4">if you don't find your answers here you can <a href="mailto:hello@booksbrook.com" target="_blank">contact us</a> to make your questions.</p>
    </div>

    <section class="">
        <h4 class="highlighted">Ok, how much does it really cost?</h4>
        <p class="fs-5 ">if you subscribe to 2 graphic novels per month the cost will be 6€ each graphic novel. There is no extra cost. The costs of deliveries and maintenance are on us.</p>

        <h4 class="highlighted">Still confuse, give me an example of how much I will pay</h4>
        <p class="fs-5 ">if you decide to read 2 graphic novels per month it will cost you 12€ per month. If you want to read 3 graphic novels per month the cost will be 16€ per month. If you want to read only 1 graphic novel per month the cost will be 8€ per
            month. See our <a href="./pricing.html">simple pricing model</a></p>

        <h4 class="highlighted">Am I saving any money?</h4>
        <p class="fs-5">the price of purchasing any of these award winner graphic novels is of 25€ in average. So if you subscribe for 2 graphic novels per month you are effectively saving 38€ per month, as hard as it sounds.</p>

        <h4 class="highlighted">Can I choose the graphic novels I receive?</h4>
        <p class="fs-5 ">yes. You can select what graphic novels from our inventory you are interested on. We can not warranty in which delivery will be each graphic novel but we will be sure we select only the ones you have chosen.</p>

        <h4 class="highlighted">Can I change my interest selection?</h4>
        <p class="fs-5 ">yes. Any time. As many times you want.</p>

        <h4 class="highlighted">When do I have to return the graphic novels?</h4>
        <p class="fs-5 ">at the end of the month. So you can receive the new ones at the beginning of the month. That gives you around 20 days to read your graphic novels.</p>

        <h4 class="highlighted">Can I keep a graphic novel if I like it so much?</h4>
        <p class="fs-5 ">if you insist, you can purchase from us with a 30% discount over the price of the market.</p>

        <h4 class="highlighted">Will I receive only brand new graphic novels?</h4>
        <p class="fs-5 ">nop, the graphics novels are co-owned for all members. We ask the members to treat the graphic novels with care. We will try to remove from our inventory any graphic novel that is not in good conditions.</p>

        <h4 class="highlighted">In which language are the graphic novels?</h4>
        <p class="fs-5 ">english, all english.</p>

        <h4 class="highlighted">Why all in english?</h4>
        <p class="fs-5 ">because we are small, and we want to remain small, and we have not capacity to keep inventories in different languages.</p>

        <h4 class="highlighted">When and how can I cancel?</h4>
        <p class="fs-5 ">3 months is the minimum subscription period, after that you can cancel any time, no questions asked.</p>

        <h4 class="highlighted">Why 3 months minium subscription period?</h4>
        <p class="fs-5 ">this is the minimum we need to ask to help us to finance the investment of buying new inventory.</p>

        <h4 class="highlighted">How and when do I pay?</h4>
        <p class="fs-5 ">you can pay with your credit card or Paypal. The first 3 months is paid in advance, the rest months will be charged at the beginning of each month.</p>
    </section>

    <a href="./subscribe.html" class="btn btn-warning btn-xl mt-5">opening promotion</a>
</main>
